@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.space {
  margin-bottom: 30px;
}

label {
  font-weight: 600;
}

#register input {
  display: block;
  width: 100%;
  background-color: hsla(226, 92%, 95%, 0.775);
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 7px;
  transition: transform 0.2s ease-in-out;
  border: 1px solid gray;
}
